body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: rgb(246, 246, 246);
}

.logo {
  max-width: 150px;
  margin-bottom: 30px;
}

/* Login page */
.login-container {
  text-align: center;
}

.login-box {
  background-color: #0094de;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #003f70;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #001f40;
}

a {
  text-decoration: none;
  color: #000080;
  margin-top: 15px;
}

a:hover {
  text-decoration: underline;
}

/* Cadastro page */

.cadastro-container {
  text-align: center;
}

.cadastro-box {
  background-color: #0094de;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-box form {
  display: flex;
  flex-direction: column;
}

.cadastro-box input {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cadastro-box button {
  background-color: #003f70;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.cadastro-box button:hover {
  background-color: #001f40;
}

.cadastro-box a {
  text-decoration: none;
  color: #000080;
  margin-top: 20px;
}

.cadastro-box a:hover {
  text-decoration: underline;
}

/* home */

.bem-vindo-container {
  text-align: center;
  background-color: rgb(246, 246, 246);;
}

.bem-vindo-box {
  background-color: #0094de;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bem-vindo-box a {
  text-decoration: none;
  color: #000080;
  margin-top: 15px;
}

.bem-vindo-box a:hover {
  text-decoration: underline;
}

.bem-vindo-box .botao-azul-escuro {
  background-color: #003f70;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
}

.bem-vindo-box .botao-azul-escuro:hover {
  background-color: #001f40;
}
